body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
     /* Use flexbox for centering */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.register-form {
    background-color: #d6d9df;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 95%;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #084182; /* Red from your theme */
}

.register-form label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: calc(100%);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #c6bcbc;
    color: #0a0909;
    box-sizing: border-box;
}

.register-form button {
    background-color: #9f1717; /* Red from your theme */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.register-form button:hover {
    background-color: #cc0000;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link a {
    color: #084182;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}